<div class="partners-wrap">
        <div class="partners clearfix">
            <h2>合作企业</h2>
            <div>
                <ul>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                    <li><a href="###">万达集团</a></li>
                </ul>
            </div>
        </div>
    </div>